---
import '@fontsource/figtree'
import { ViewTransitions } from 'astro:transitions';
import AppHeader from '../components/AppHeader.astro';

interface Props {
	title: string;
	description?: string;
	themeColor?: string;
	themeColorAlt?: string;
}

const { title, description, themeColor, themeColorAlt } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Aleks Rūtiņš</title>

		<meta name="title" content={title} />
		{ description && <meta name="description" content={description} /> }

		<style is:global define:vars={{ 'theme-color': themeColor ?? 'green' }}></style>

		{ process.env.NODE_ENV != 'development' && <script async src="https://analytics.farthergate.com/script.js" data-website-id="7af8c7d5-74ec-49c6-89ac-667eba43a6a6"></script> }

		<ViewTransitions/>
	</head>
	<body>
		<AppHeader themeColor={ themeColor ?? 'green' } themeColorAlt={ themeColorAlt ?? 'emerald' }/>
		<div class="max-w-6xl mx-auto p-6">
			<slot />
		</div>
	</body>
</html>
